th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

th{
  background-color: #77D5C8;
}

.atributo{
  font-weight: bold;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
}

.boton{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 14rem;
  margin-top: 2rem
}

.boton:hover{
  background-color: #45a049;
}

.boton:active{
  background-color: #3e8e41;
}

