h1{
  text-align: center;
}

p{
  text-align: center;
  font-weight: bold;
  margin: 0;
}

td{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

label{
  font-weight: bold;
}

table{
  border: 1px solid black;
  margin: 1em 0 1em 25em;
}

select{
  width: 352px;
}

input{
  width: 352px;
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}

.error{
  color: #a94442;
  text-align: justify;
  padding-top: 5px;
}

.alinear{
  display: flex;
  margin: 10px 0 10px 1.25rem;
}

.boton{
  padding: 5px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.boton:hover{
  background-color: #45a049;
}

.boton:active{
  background-color: #3e8e41;
}

hr{
  border-color: #E6B1A6;
}
